<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Panel.Base_BuyoTest"/>
       <class name="Panel.Leads_Page"/>
        <class name="Panel.Business_page"/>
         <class name="Panel.Enquiry_pages"/>
          <class name="Panel.Purchase_Order_page"/>
          <class name="Panel.Order_page"/>
           <class name="Panel.Dispatch_pages"/>
            <class name="Panel.Payment_pages"/>
            
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
